.list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;

  .item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.25rem 0.5rem;
    border: 1px solid currentcolor;
    border-radius: var(--border-radius);
    font-size: var(--fz-300);
    cursor: pointer;
  }
}
